* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
}
.loader {
	position: relative;
	width: 200px;
	height: 200px;
}
.loader::before,
.loader::after {
	content: '';
	position: absolute;
	left: 15%;
	width: 70%;
	height: 70%;
	border-radius: 50%;
	animation: animate 5s linear infinite;
}
.loader::before {
	top: 85px;
	background-color: #ff3b8d;
	box-shadow: -60px -55px 0 #07b2ff;
}
.loader::after {
	bottom: 85px;
	background-color: #8dff08;
	box-shadow: 60px 55px 0 #ffeb3b;
}
@keyframes animate {
	0% {
		filter: blur(50px) hue-rotate(0deg);
	}
	100% {
		filter: blur(50px) hue-rotate(360deg);
	}
}
.loader span {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 50%;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 18px;
	color: rgba(0, 0, 0, .1);
	z-index: 1;
}
.loader span:before {
	content: '';
	position: absolute;
	top: 8px;
	left: 8px;
	right: 8px;
	bottom: 8px;
	background-color: transparent;
	border-radius: 50%;
	box-shadow: inset 0 0 20px rgba(0, 0, 0, .08);
}